{
  "fif_runs": [
    "/network/lustre/iss01/home/aurore.bussalb/Repositories/data_test_BL/rest1-raw.fif",
    "/network/lustre/iss01/home/aurore.bussalb/Repositories/data_test_BL/rest2-raw.fif"
    ],
    "headshape": null,
    "destination": null,
    "events": "/network/lustre/iss01/home/aurore.bussalb/Repositories/app-create-events/out_dir_create_events/events.tsv",
    "channels": null
}
